{
    "SECRET_KEY": "df4p)6h(#ktn*#ckh2m^^(-)w6_9mn$b%^!+$02vnb&e3sz&!r",
    "DATABASE_ENGINE": "django.db.backends.sqlite",
    "DATABASE_NAME": "os.path.join(BASE_DIR, 'db.sqlite3')",
    "DATABASE_USER": "",
    "DATABASE_PASSWORD": ""
}